@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "colors.scss";
@import "reset.scss";
@import "typography.scss";
@import "buttons.scss";

:root {
	font-size: 100%;
}

body {
    color: $mine-shaft-700;
    width: 100vw;
	max-width: 100%;
	background: var(--mine-shaft-10);
	font-family: "Roboto", sans-serif;
}

.w-150 {
    width: min(150px, 100%);
}

.w-250 {
    width: min(250px, 100%);
}

.w-350 {
    width: min(350px, 100%);
}

.w-450 {
    width: min(450px, 100%);
}