@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--mine-shaft-900: #050505;
	--mine-shaft-800: #1c1c1c;
	--mine-shaft-700: #262626;
	--mine-shaft-400: #505050;
	--mine-shaft-100: #757575;
	--mine-shaft-80: #949494;
	--mine-shaft-60: #b1b1b1;
	--mine-shaft-40: #c9c9c9;
	--mine-shaft-30: #e1e1e1;
	--mine-shaft-10: #f8f8f8;

	--persian-blue-900: #060321;
	--persian-blue-800: #180de6;
	--persian-blue-700: #2715b0;
	--persian-blue-600: #321bde;
	--persian-blue-300: #5946e4;
	--persian-blue-100: #7e6fea;
	--persian-blue-70: #9f94ef;
	--persian-blue-50: #bdb5f4;
	--persian-blue-30: #dad6f9;
	--persian-blue-10: #f8f7fd;

	--alizarin-crimson-900: #330103;
	--alizarin-crimson-700: #450606;
	--alizarin-crimson-600: #75120d;
	--alizarin-crimson-500: #ad2213;
	--alizarin-crimson-400: #de321b;
	--alizarin-crimson-100: #e4604a;
	--alizarin-crimson-80: #e98970;
	--alizarin-crimson-60: #eeab91;
	--alizarin-crimson-30: #f4c4b6;
	--alizarin-crimson-10: #faece3;

	--deep-sea-900: #00120b;
	--deep-sea-700: #002f1e;
	--deep-sea-500: #004b30;
	--deep-sea-400: #006843;
	--deep-sea-200: #008858;
	--deep-sea-90: #309e77;
	--deep-sea-70: #5eb495;
	--deep-sea-50: #8ecab4;
	--deep-sea-30: #c1e2d6;
	--deep-sea-10: #f5faf8;

	font-size: 100%;
}

body {
	width: 100vw;
	max-width: 100%;

	background: var(--mine-shaft-10);
	font-family: "Roboto", sans-serif;
}

/* botão */

.button {
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	outline: none;
	border: none;
	cursor: pointer;

	transition: background-color 200ms ease-out, color 200ms ease-out;

	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.125rem;
	letter-spacing: 1.25px;

	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.button:disabled {
	cursor: not-allowed;
}

/* botão primary */

.button.primary {
	background: var(--persian-blue-600);
	color: #ffffff;
}

.button.primary:hover {
	background: var(--persian-blue-300);
}

.button.primary:active,
.button.primary:focus {
	background: var(--persian-blue-700);
}

.button.primary:disabled {
	background: var(--mine-shaft-30);
	color: var(--mine-shaft-100);
}

/* botão secondary */

.button.secondary {
	background: #ffffff;
	color: var(--mine-shaft-400);
}

.button.secondary:hover {
	background: var(--mine-shaft-10);
}

.button.secondary:active,
.button.secondary:focus {
	background: var(--mine-shaft-30);
	color: var(--mine-shaft-700);
}

.button.secondary:disabled {
	background: #ffffff;
	color: var(--mine-shaft-80);
}

/* botão danger */

.button.danger {
	background: #ffffff;
	color: var(--alizarin-crimson-400);
}

.button.danger:hover {
	background: var(--alizarin-crimson-10);
}

.button.danger:active,
.button.danger:focus {
	color: var(--alizarin-crimson-500);
	background: var(--alizarin-crimson-30);
}

.button.danger:disabled {
	background: #ffffff;
	color: var(--mine-shaft-80);
}

/* icones botões */

.button svg {
	height: 1.125rem;
	width: 1.125rem;
}

.button svg, .button path {
	transition: fill 200ms ease-out;
}

/* icones botões primarios */

.button.primary svg path {
	fill: #ffffff;
}

.button.primary:disabled svg path {
	fill: var(--mine-shaft-100);
}

/* icones botões secundários */

.button.secondary svg path {
	fill: var(--mine-shaft-400);
}

.button.secondary:active svg path,
.button.secondary:focus svg path {
	fill: var(--mine-shaft-700);
}

.button.secondary:disabled svg path {
	fill: var(--mine-shaft-80);
}

/* icones botões danger */

.button.danger svg path {
	fill: var(--alizarin-crimson-400);
}

.button.danger:active svg path,
.button.danger:focus svg path {
	fill: var(--alizarin-crimson-500);
}

.button.danger:disabled svg path {
	fill: var(--mine-shaft-80);
}