@import "_colors.scss";

.modal {
    background: rgba(0, 0, 0, 0.35);
    height: 100vh;
    width: 100vw;

    animation: modal-fade 200ms ease-out forwards;

    position: fixed;
    top: 0;
    left: 0;

    .modal-content {
        animation: modal-slide-up 200ms ease-out forwards;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: #ffffff;
        border-radius: 0.75rem;
        border: 1px solid $mine-shaft-30;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

        max-height: 90vh;

        &.large-size {
            width: min(95%, 610px);
        }

        &.small-size {
            width: min(95%, 360px);
        }

        .modal-content-header {
            padding: 1.5rem;
            border-bottom: 1px solid $mine-shaft-30;
        }

        .modal-content-footer {
            border-top: 1px solid $mine-shaft-30;
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

@keyframes modal-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-slide-up {
    from {
        transform: translate(-50%, -60%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}